*, *::before, *::after, 
*:before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: $darkBlue;
    background-color: $superDarkBlue;
}
.g-container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.g-text-right{
  text-align: right;
}
.ul-nopadding {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
  .d-block{
    display: block;
  }
  .preload{
    width: 80px;
  }
  .g-btn-fake{
    border: 0;
    border-radius: 3px;
    min-width: 80px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $white;
    text-align: center;
    color: $orange;
    cursor: pointer;
}
p {
  font-size: 18px;
  color: $white;
}