*, *::before, *::after, 
*:before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: $darkBlue;
    background-color: $superDarkBlue;
}
.g-container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.ul-nopadding {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
  .d-block{
    display: block;
  }
  .preload{
    width: 80px;
  }